
:root 
{
    --color-1: hsl(232, 67%, 89%);
    --color-2: hsl(232, 13%, 49%);
    --color-3: hsl(232, 13%, 33%);
    --color-4: white;
    --color-5: hsl(237, 63%, 65%);

    --gradient-1: linear-gradient(135deg, hsl(237, 73%, 79%), hsl(238, 63%, 64%));
}

html 
{
    font-size: 15px;
}
body {
    margin: 0;
}

.component 
{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    min-height: 100vh;
    text-align: center;
    color:var(--color-2);
    padding: 4.26em 6.4% 4.73em;
    background-image: url(./images/bg-top.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: top right -5em;
    background-color: hsl(235, 80%, 98%);
}

.component, .component * {
    box-sizing: border-box;
    margin: 0;
}

.component h1 {
    font-size: 4.8rem;
    letter-spacing: 0.03em;
}

.component h2 
{
    font-size: 2.13rem;
    letter-spacing: 0;
}

.component h3 
{
    font-size: 1.2rem;
    letter-spacing: 0;
}



.component_btn 
{
    font-size: .86rem;
    font-family: inherit;
    letter-spacing: .10em;
    text-transform: uppercase;
    transition:color 300ms, background 300ms, border 300ms;
    border:transparent 1px solid;
    padding: 1.07em 5em;
    cursor: pointer;
}
.component_btn-1  
{
    background:var(--gradient-1);
    color: var(--color-4);
}

.component_btn-1:hover
{
    color: var(--color-5);
    background: transparent;
    border: solid 1px var(--color-5);
}

.component_btn-2
 {
    background: var(--color-4);
    color: var(--color-5);
 }


 .component_btn-2:hover
 {
    background:transparent;
    border:solid 1px var(--color-4);
    color: var(--color-4);
 }



 .component_annually, .component_monthly {
    opacity: 50%;
 }

 .component_switch
{
    width: 56px;
    height: 32px;
    position: relative;
}
.component_switch_checkbox {
    width: 100%;
    height: 100%;
    opacity: 0%;
    cursor: pointer;
}

.component_switch_slider 
{
    background:var(--gradient-1);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left:0px;
    border-radius: 32px;
    pointer-events: none;
    transition: filter 300ms;
}

.component_switch_checkbox:hover + .component_switch_slider {
    filter:brightness(120%);
}

.component_switch_slider::after
{
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    background-color: var(--color-4);
    border-radius: 50%;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    transition: left 300ms, transform 300ms;
}

.component_switch_checkbox:checked + .component_switch_slider::after
{
    left:calc(100% - 4px);
    transform: translate(-100%, -50%);
}

.component_header {
    margin-bottom: 5.33em;
}


.component_title 
{
    margin-bottom: 1.25rem;
}


.component_toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1.6em;
}


.component_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.13em;
}

.component_plan {
    padding: 2em;
    border-radius: 16px;
    max-width: 350px;
}
.component_plan--small {
    background-color: var(--color-4);
}
.component_plan--large {
    background:var(--gradient-1);
    color: var(--color-4);
}

.component_plan--small .component_plan_cost 
{
    color: var(--color-3);
}

.component_plan_title {
margin-bottom: 1.33em;
}


.component_plan_cost {
    margin-bottom: .44em;
    display: flex;
    align-items: center;
    gap: 0.09em;
}

.component_plan_cost span 
{
    font-size: 2.66rem;
}

.component_plan.change-plan .component_plan_cost {
    animation-name: change-plan;
    animation-duration: 600ms;
}


.component_plan_list 
{
    list-style: none;
    padding-left: 0;
    margin-bottom: 2.13em;
}

.component_plan_list_item 
{
    border-bottom: 1px solid hsl(232, 13%, 49%, 25%);
    padding: .86em;
}
.component_plan_list_item:first-child
 {
    border-top: 1px solid hsl(232, 13%, 49%, 25%);
 }


 @media (min-width:1440px)
{
    .component{
        background-image: url(./images/bg-top.svg), url(./images/bg-bottom.svg);
        background-size: 25%, 25%;
        background-position: top right, bottom left;
    }
    .component_main
    {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .component_plan--large {
        padding: 3.6em 2em;
    }
}



@keyframes change-plan {

    0% {
        opacity: 100%;
    }

    50% {
        opacity: 0%;
    }

    100%{
        opacity: 100%;
    }
    
}